@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    Se ha producido un error inesperado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">x</span>
</div>
