<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["APO-BOT.styles.css"]" />
    <ImportMap />
    <meta name="theme-color" content="#1f2144" />
    <link rel="icon" type="image/svg+xml" href="/assets/apobot/favicon-apobot.svg?v=20260714" />
    <link rel="shortcut icon" type="image/svg+xml" href="/assets/apobot/favicon-apobot.svg?v=20260714" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script>
        Blazor.start({
            circuit: {
                configureSignalR: function (builder) {
                    builder.configureLogging("warning");
                }
            }
        });
    </script>
</body>

</html>
